.comp-container {
  display: flex;
  align-items: center;

  .number-container {
    width: 45px;
    height: 60px;
    // background: rgba(92, 225, 255, 0.07);
    // border: 1px solid #5CE1FF;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    span {
      position: absolute;
      // top: -6px;
      // left: 50%;
      transition: all 0.4s;
      writing-mode: vertical-lr;
      text-orientation: upright;
     }
  }

  .comma-container {
    // margin: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0.5;
    line-height: 1;
  }
}